* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a:hover,
a:visited,
a:link {
  text-decoration: none;
  color: black;
}


/* START HEADER */
.navBar {
  text-align: center;
  padding: 20px;
  padding-right: 20px;
  word-spacing: 80px;
  font-size: 20px;
}

.navBar a:hover {
  color: rgb(53, 117, 107);
}

.content1 {
  background: url("img/desk.png");
  text-align: auto;
  padding: 200px 80px 50px 50px;
  color: rgb(255, 254, 250);
  font-weight: bolder;
  font-size: 50px;
}
.cont1 {
  color: rgb(255, 254, 250);
  font-weight: bolder;
  font-size: 50px;
}
span{
  opacity: 0;
transition: all 0.9s ease;
}
span.fade{
 opacity: 1; 
}
.content2 {
  background-color: #c1ddd2;
  color: black;
  text-align: center;
}
.cont2 {
  color: black;
  font-weight: bolder;
  font-size: 20px;
  padding: 20px;
}
/* END HEADER */


/* START PORTFOLIO */
.myWork {
  padding: 2px;
  text-align: center;
}
.myWork a:hover {
  zoom: 1.1;
}
/* END PORTFOLIO */


/* START COMPETENCE */
.competence {
  display: flex;
  flex-wrap: wrap;
}

.comp {
  flex: 25%;
  padding: 20px;
  background-color: white;
  text-align: center;
}
.compPic {
  width: 300px;
  height: 250px;
  padding: 20px;
}
/* END COMPETENCE */



/* START ABOUT ME */
.contentAboutme {
  display: flex;
  padding: 10px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: left;
}
.contentAboutme1 {
  display: flex;
  margin-right: 30px;
  font-size: 20px;
  line-height: 1.4;
}
.chaslink a:hover {
  color: rgb(53, 117, 107);
}
.profilepic {
  border-radius: 50%;
}
/* END ABOUT ME */


/* START FOOTER */
.letsConnect {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}
.socialMedia {
  text-align: center;
  font-size: 40px;
  word-spacing: 10px;
}

.myFooter {
  color: black;
  background-color: #c1ddd2;
  font-size: 110%;
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;
}
.footer1 {
  float: left;
  text-align: center;
}
.footer2 {
  float: right;
  text-align: center;
}
/* END FOOTER */



@media (max-width: 1233px) {
  .competence {
    flex-direction: column;
  }
  .contentAboutme {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
  .contentAboutme1 {
    flex-direction: column;
  }
  .profilepic {
    flex-direction: column;
  }

  img {
    width: 50%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .footer1 {
    float: left;
    text-align: center;
  }
  .footer2 {
    float: left;
    text-align: center;
  }
  .myFooter {
    padding-bottom: 60px;
  }
  .profilepic {
    padding-top: 10px;
  }
  .navBar {
    text-align: center;
    padding: 20px;
    padding-right: 20px;
    word-spacing: 1000px;
    font-size: 20px;
    line-height: 1.8;
  }
  .cont1 {
    color: rgb(255, 254, 250);
    font-weight: bolder;
    font-size: 30px;
  }


}